.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 90vh;
  background-image: url('../../assets/skyline.webp');
  background-size: cover;
  background-position: center;
  color: var(--secondary);
  position: relative;
}

.company-name {
  padding-right: 30px;
}

.main-company-name {
  font-size: 3rem;
  font-weight: 600;
}

.secondary-company-name {
  font-size: 1.1rem;
  font-weight: 400;
}

.home-tagline-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline {
  font-size: 2rem;
  font-weight: 400;
}

.mission {
  font-size: 1.1rem;
  font-weight: 400;
}

.lines {
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}
