.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  background-image: url('../../assets/london-skyline.webp');
  background-size: cover;
  background-position: center;
  color: var(--secondary);
}

.main-company-name {
  font-size: 5.5rem;
  font-weight: 600;
  margin-top: 20px;
}

.secondary-company-name {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.tagline {
  font-size: 5.5rem;
  font-weight: 400;
}

.mission {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 50px;
}

.button-collection {
  display: flex;
  column-gap: 40px;
  margin-top: 50px;
}
