.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-image: url('../../assets/skyline.webp');
  background-size: cover;
  background-position: center;
  color: var(--secondary);
  position: relative;
}

.main-company-name {
  font-size: 5.5rem;
  font-weight: 600;
  margin-top: 50px;
}

.secondary-company-name {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.home-tagline-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 18, 32, 0) 0%,
    rgba(0, 18, 32, 0.4) 10%,
    rgba(0, 18, 32, 0.7) 30%,
    var(--secondary) 100%
  );
  color: var(--primary);
}

.tagline {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: 400;
}

.mission {
  font-size: 2rem;
  font-weight: 400;
}
