.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  background-image: url('../../assets/skyline.webp');
  background-size: cover;
  background-position: center;
  color: var(--secondary);
  position: relative;
}

.contact-title {
  font-size: 2rem;
}

.contact-section {
  display: flex;
  align-items: center;
  font-size: 1rem;
  max-width: 50%;
  column-gap: 20px;
}

.enquiries {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    max-width: 80%;
    align-items: flex-start;
  }

  .enquiries {
    gap: 10px;
  }

  .contact-details {
    gap: 10px;
    margin-top: 30px;
  }
}
