.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  background-image: url('../../assets/skyline.webp');
  background-size: cover;
  background-position: center;
  color: var(--secondary);
  position: relative;
}

.contact-title {
  font-size: 2rem;
}

.contact-section {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 50%;
  column-gap: 20px;
}

.enquiries {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
