nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}

nav a {
  color: var(--primary);
  text-decoration: none;
}

.company-logo {
  height: 100px;
  width: 100px;
}

@media (max-width: 768px) {
  nav {
    padding: 0 10px 0 10px;
    justify-content: space-between;
  }

  nav a {
    min-width: 50px;
  }
}
