.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  background-image: url('../../assets/skyline.webp');
  background-size: cover;
  background-position: center;
  color: var(--secondary);
  position: relative;
}

.services-descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

.services-card {
  max-width: 50%;
  margin-top: 25px;
}

.service-header {
  font-size: 1.5rem;
}

.service-description {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .services-card {
    padding-left: 20px;
    max-width: 80%;
  }
}
