footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 30px;
}

.footer-button {
  height: 30px;
  width: 100px;
  font-family: 'Playfair Display', serif;
}

.company-info-footer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.company-contact-footer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.partners-footer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
