:root {
  --primary: white;
  --secondary: #33670a;
  --background: #001220;
  --font: 'Playfair Display', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: var(--font);
}
