:root {
  --primary: rgba(230, 230, 230, 1);
  --secondary: rgba(0, 18, 32, 1);
  --background: rgba(0, 18, 32, 1);
  --accent-color: rgba(249, 213, 104, 1);
  --font: 'Playfair Display', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: var(--font);
}

nav {
  min-height: 10vh;
}

main {
  min-height: 90vh;
}
