:root {
  --primary: #da2f04;
  --secondary: #33670a;
  --background: #fffaee;
  --border: #ccc;
  --font: Pacifico, cursive, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
