.about-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url('../../assets/skyline.webp');
  background-size: cover;
  background-position: center;
  color: var(--secondary);
}

.countries-list {
  font-size: 2rem;
  margin-top: 50px;
}

.founder-section {
  display: flex;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  margin-top: 50px;
}

.founder-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.founder-quote-name {
  margin-left: 80px;
  font-size: 1.5rem;
}

.founder-quote {
  margin-bottom: 20px;
}

.about-page-lines {
  height: 100%;
  width: 100%;
}

.about-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary);
  color: var(--primary);
}

.section-header {
  margin-top: 50px;
  font-size: 3rem;
}

.about-section-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 60%;
  font-size: 1.5rem;
  margin-top: 50px;
}

.guiding-principles {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  gap: 20px;
}
