.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  background-image: url('../../assets/skyline.webp');
  background-size: cover;
  background-position: center;
  color: var(--secondary);
  position: relative;
}

.countries-list {
  font-size: 2rem;
}

.founder-section {
  display: flex;
  align-items: center;
  width: 50%;
  border-radius: 20px;
}

.founder-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.founder-quote-name {
  margin-left: 80px;
  font-size: 1.5rem;
}

.founder-quote {
  margin-bottom: 20px;
}

.about-page-lines {
  height: 100%;
  width: 100%;
}
